extends layout

block content
  h1 #{title}: #{bookinstance.book.title}
  p ISBN: #{bookinstance.book.isbn}
  p Summary: #{bookinstance.book.summary}
  p Do you really want to delete this book copy?
  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden' name='bookinstanceid' required='true' value=bookinstance._id )
    button.btn.btn-primary(type='submit') Delete
